*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}
body{
	background-color: gainsboro;
}
h1 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
} 
form {
    width: 22%;
    border: 1px solid black;
    box-shadow: 6px 8px 6px #ccc;
	background-color: white;
    margin: 0 auto;
    padding: 44px;
}
#sub{   
	color:red;
    background-color:ghostwhite;
    border-color:blueviolet;
}
#set{
	color:magenta;
    background-color:floralwhite;
    margin-left:86px;
}